body{
    margin: 0px;
}



.box{
    background-color: pink;
    margin: 5px;

}


.fg1{

}
.fg2{

}
.fg3{

}



@media screen and (max-width: 600px)
.main {

    display: flex
    background-color: grey;
    height: 500px;
    padding: 10px;

}
